// 引入字体
@use "./fonts.scss" as *;
// 引入全局声明变量
@use "./var.scss" as *;

* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

html,
body {
  font-family: "NotoSansSC-Regular", "Microsoft YaHei";
}
