// BEM 架构
// BEM 实际上是block、element、modifier的缩写，分别为块层、元素层、修饰符层

$namespace: "xm" !default;
$block-sel: "-" !default;
$elem-sel: "__" !default;
$mod-sel: "--" !default;

// 例 xm-input
@mixin b($block) {
  $B: #{$namespace + $block-sel + $block}; // 输出类名
  .#{$B} {
    @content; // 样式占位符/slot
  }
}

// 例 xm-input__wapper

@mixin e($el) {
  $selector: &;

  @at-root {
    #{$selector + $elem-sel + $el} {
      @content;
    }
  }
}

@mixin m($m) {
  $selector: &;
  @at-root {
    #{$selector + $mod-sel + $m} {
      @content;
    }
  }
}

// BFC 全称：Block Formatting Context， 名为 "块级格式化上下文"
// BFC是一个完全独立的空间（布局环境），让空间里的子元素不会影响到外面的布局。
// https://juejin.cn/post/6950082193632788493
@mixin bfc() {
  height: 100%;
  overflow: hidden;
}

// flex
@mixin flex($jc: flex-start, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
